<div id="question-list">
  {{range $index, $elem := .PageQuestions}}
  <div>
    <hr>
    <a class="uk-button uk-button-default uk-button-small uk-float-right"
       href="/_/{{$.PageUser.Domain}}/{{$elem.ID}}">查看回答</a>
    <div class="uk-text-left uk-text-small uk-text-muted">{{Date $elem.CreatedAt "Y-m-d H:i:s"}}</div>
    <p class="uk-text-small uk-text-break">{{$elem.Content}}</p>
  </div>
  {{end}}
</div>
<div x-data="{ more: true, loading: false, cursor: '{{.PageQuestionCursor}}' }">
  <button x-show="more" x-on:click.debounce="() => {
          loading = true
          fetch(`/api/v1/user/{{.PageUser.Domain}}/questions?cursor=${cursor}`)
            .then(response => response.json())
            .then(data => {
              loading = false
              data = data.data
              if (data.length === 0) {
                more = false
                return
              }

              cursor = data[data.length - 1].id
              data.forEach(question => {
                const div = document.createElement('div')
                div.innerHTML = `
                  <div>
                    <hr>
                    <a class='uk-button uk-button-default uk-button-small uk-float-right'
                       href='/_/{{.PageUser.Domain}}/${question.id}'>查看回答</a>
                    <div class='uk-text-left uk-text-small uk-text-muted'>${dayjs(question.created_at).format('YYYY-MM-DD HH:mm:ss')}</div>
                    <p class='uk-text-small'></p>
                  </div>`
                div.getElementsByTagName('p')[0].innerText = question.content
                document.getElementById('question-list').appendChild(div)
              })
            })
        }" class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom">
    <span x-show="!loading">加载更多</span>
    <span x-show="loading"><div uk-spinner="ratio: 0.8"></div> 加载中...</span>
  </button>
  <div x-show="!more" class="uk-text-meta uk-text-center">
    <hr>
    无更多留言
    <br><br>
  </div>
</div>
