{{template "base/header" .}}
<link rel="shortcut icon"
      href="{{.userContent.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200"/>
<link rel="apple-touch-icon"
      href="{{.userContent.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200"/>
<link rel="icon" sizes="192x192"
      href="{{.userContent.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200">
<div>
  <div class="uk-card uk-card-default">
    <div class="uk-card-header">
      <div class="uk-text-left uk-text-small uk-text-muted">{{Date .Question.CreatedAt "Y-m-d H:i:s"}}</div>
      <h4 class="uk-text-center uk-margin-top uk-margin-bottom">{{.Question.Content}}</h4>
    </div>

    {{if ne .Question.Answer ""}}
    <div class="uk-card-body">
      <p class="uk-text-small">{{AnswerFormat .Question.Answer}}</p>
      <p class="uk-text-small uk-text-right uk-text-muted">-来自@{{.PageUser.Name}}的回答</p>
    </div>
    {{end}}

    <div class="uk-card-footer">
      {{template "base/alert" .}}

      {{ if .CanDelete }}

        {{ if .Question.IsPrivate }}
          <form class="uk-float-right" method="post" action="/_/{{ .PageUser.Domain }}/{{ .Question.ID }}/set-public">
            {{ .CSRFTokenHTML }}
            <button type="submit" class="uk-button uk-button-default uk-button-small">设为公开</button>
          </form>
        {{ else }}
          <form class="uk-float-right" method="post" action="/_/{{ .PageUser.Domain }}/{{ .Question.ID }}/set-private">
            {{ .CSRFTokenHTML }}
            <button type="submit" class="uk-button uk-button-default uk-button-small">设为仅自己可见</button>
          </form>
        {{ end }}

      <a class="uk-button uk-button-danger uk-button-small" href="#">删除提问</a>
      <div class="uk-dropbar uk-dropbar-top" uk-drop="stretch: x; mode: click">
        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title">危险！</h3>
          <p>你确定要删除这个提问吗？该操作不可恢复，请谨慎操作。</p>
          <form class="uk-float-right"
                method="post"
                action="/_/{{ .PageUser.Domain }}/{{ .Question.ID }}/delete">
            {{ .CSRFTokenHTML }}
            <button class="uk-button uk-button-danger">确认删除</button>
          </form>
        </div>
      </div>
      {{ end }}

      {{ if .IsOwnPage}}
      <h5 class="uk-text-center">回答问题</h5>
      <form method="post" action="/_/{{ .PageUser.Domain }}/{{ .Question.ID }}/answer">
        {{ .CSRFTokenHTML }}
        <div class="uk-margin uk-text-center">
              <textarea name="answer" class="uk-textarea" rows="5" maxlength="1000"
                        placeholder="在此处撰写你的回答...">{{ if ne .Question.Answer "" }}{{ .Question.Answer }}{{ else }}{{ .answer }}{{ end }}</textarea>
        </div>
        {{ if ne .Question.ReceiveReplyEmail "" }}
        <div class="uk-alert-warning uk-text-small" uk-alert>
          <p>提问人留下了自己的电子邮箱，在你第一次回复该问题后，提问人将会收到一封邮件通知。</p>
        </div>
        {{ end }}
        <div class="uk-margin uk-text-center">
          <button type="submit" class="uk-button uk-button-primary">{{if ne .Question.Answer ""}}更新{{end}}回答</button>
        </div>
      </form>
      {{ end }}

      <!-- Box owner can't create new question here. -->
      {{if not .IsOwnPage }}
      <h5 class="uk-text-center">再问点别的问题？</h5>
      {{template "question/new-question-template" .}}
      {{ end }}

      <hr class="uk-divider-icon">
      <p class="uk-text-left uk-text-muted uk-text-small">@{{ .PageUser.Name }}以前回答过的问题 ({{ .AnsweredCount }})</p>
      {{ template "question/history-template" . }}
    </div>
  </div>
</div>
{{template "base/footer" .}}
