{{template "base/header" .}}
<link rel="shortcut icon"
      href="{{.userContent.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200"/>
<link rel="apple-touch-icon"
      href="{{.userContent.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200"/>
<link rel="icon" sizes="192x192"
      href="{{.userContent.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200">
<div>
  <div class="uk-card uk-card-default">
    <div class="uk-card-header">
      <div class="uk-text-left uk-text-small uk-text-muted">{{Date .Question.CreatedAt "Y-m-d H:i:s"}}</div>
      <h4 class="uk-text-center uk-margin-top uk-margin-bottom">{{.Question.Content}}</h4>
    </div>

    {{if ne .Question.Answer ""}}
    <div class="uk-card-body">
      <p class="uk-text-small">{{AnswerFormat .Question.Answer}}</p>
      <p class="uk-text-small uk-text-right uk-text-muted">-来自@{{.PageUser.Name}}的回答</p>
    </div>
    {{end}}

    <div class="uk-card-footer">
      {{template "base/alert" .}}

      {{ if .CanDelete }}
      <form class="uk-float-right"
            method="post"
            action="/_/{{ .PageUser.Domain }}/{{ .Question.ID }}/delete">
        {{ .CSRFTokenHTML }}
        <button class="uk-button uk-button-danger uk-button-small">删除提问</button>
      </form>
      {{ end }}

      {{ if .IsOwnPage}}
      <h5 class="uk-text-center">回答问题</h5>
      <form method="post" action="/_/{{ .PageUser.Domain }}/{{ .Question.ID }}/answer">
        {{ .CSRFTokenHTML }}
        <div class="uk-margin uk-text-center">
              <textarea name="answer" class="uk-textarea" rows="5" maxlength="1000"
                        placeholder="在此处撰写你的回答...">{{.Question.Answer}}</textarea>
        </div>
        <div class="uk-margin uk-text-center">
          <button type="submit" class="uk-button uk-button-primary">{{if ne .Question.Answer ""}}更新{{end}}回答</button>
        </div>
      </form>
      {{ end }}

      <!-- Box owner can't create new question here. -->
      {{if not .IsOwnPage }}
      <h5 class="uk-text-center">再问点别的问题？</h5>
      <form method="post" action="/_/{{.PageUser.Domain}}" id="form">
        {{ .CSRFTokenHTML }}
        <div class="uk-margin uk-text-center">
            <textarea name="content" class="uk-textarea" rows="5" placeholder="在此处撰写你的问题..."
                      maxlength="1000"></textarea>
        </div>
        <div class="uk-margin uk-text-center">
          <button type="submit" class="uk-button uk-button-primary g-recaptcha" data-sitekey="{{.RecaptchaSiteKey}}"
                  data-callback="onSubmit">发送提问
          </button>
        </div>
      </form>
      {{ end }}

      <hr class="uk-divider-icon">
      <p class="uk-text-left uk-text-muted uk-text-small">@{{ .PageUser.Name }}以前回答过的问题</p>
      {{range $index, $elem := .PageQuestions}}
      {{ if ne $elem.Answer ""}}
      <div>
        <hr>
        <a class="uk-button uk-button-default uk-button-small uk-float-right"
           href="/_/{{$.PageUser.Domain}}/{{$elem.ID}}">查看回答</a>
        <div class="uk-text-left uk-text-small uk-text-muted">{{Date $elem.CreatedAt "Y-m-d H:i:s"}}</div>
        <p class="uk-text-small">{{$elem.Content}}</p>
      </div>
      {{end}}
      {{end}}
    </div>
  </div>
</div>
{{template "base/footer" .}}
