{{template "base/header" .}}
<link rel="shortcut icon"
      href="{{.PageUser.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200"/>
<link rel="apple-touch-icon"
      href="{{.PageUser.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200"/>
<link rel="icon" sizes="192x192"
      href="{{.PageUser.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200">
<div class="uk-card uk-card-default uk-text-center">
  <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
       data-src="{{ .PageUser.Background }}?x-oss-process=image/format,png"
       uk-img>
    <div class="uk-card-body">
      <img class="uk-border-circle uk-box-shadow-large"
           src="{{ .PageUser.Avatar }}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200/format,png"
           width="100" height="100">
      <h3>{{ .PageUser.Name }}</h3>
      <p>{{ .PageUser.Intro }}</p>
    </div>
  </div>
</div>

<div>
  <div class="uk-card uk-card-default uk-card-small uk-card-body">
    {{ if .CanAsk }}
    <div style="display: flex;align-items: center;justify-content: space-between;">
      <div style="width: 36px"></div>
      <p class="uk-text-center uk-text-small">谁都可以以匿名的形式提问</p>
      <a href="#qrcode-modal" class="uk-icon-button" uk-icon="social" uk-toggle></a>
    </div>

    <div id="qrcode-modal" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" style="max-width: 440px !important">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div style="width: 100%;padding-top: 100%;position: relative;">
          <div id="qrcode_background"
               style="position: absolute;max-width: 400px;max-height: 400px;top: 0;left: 0;right: 0;bottom: 0;background-image: url('https://box-user-assets.n3ko.cc/public/qrcode_bg');background-size: 100% 100%;background-repeat: no-repeat;user-select: none;-webkit-user-select: none;">
            <div id="qrcode" style="position: absolute;top: 16.5%;left: 26.5%;width: 47%;height: 47%;">
              <img alt="avatar"
                   style="position: absolute;width: 25%;height: 25%;top: 38%;left: 38%;background: #fff;border: 2px solid #ffffff;border-radius: 5%;"
                   src="{{ .PageUser.Avatar }}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200/format,png"/>
            </div>
            <div style="font-family: lucida grande, helvetica neue, Helvetica, Arial, Verdana, pingfang sc, STHeiti, microsoft yahei, SimSun, sans-serif;position: absolute;top: 73%;width: 100%;font-size: 140%;text-align: center;color: #ffffff;">
              {{ .PageUser.Name }} 的提问箱
              <p style="font-size: 60%;margin-top: 3%;">扫一扫二维码 向我提问</p>
            </div>
          </div>
        </div>
        <div class="uk-text-center uk-text-small uk-text-muted uk-margin-top">截图保存二维码</div>
      </div>
    </div>

    <script>
        new QRCode(document.getElementById("qrcode"), {
            text: "{{.ExternalURL}}/_/{{ .PageUser.Domain }}",
            width: 400,
            height: 400,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });
    </script>
    {{ end }}
    {{template "base/alert" .}}
    {{template "question/new-question-template" .}}

    <hr class="uk-divider-icon">
    {{ if ne (len .PageQuestions) 0 }}
    <p class="uk-text-left uk-text-muted uk-text-small">@{{ .PageUser.Name }} 以前回答过的问题 ({{ .AnsweredCount }})</p>
    {{ template "question/history-template" . }}
    {{ end }}
  </div>
</div>
{{template "base/footer" .}}
