{{template "base/header" .}}
<link rel="shortcut icon"
      href="{{.PageUser.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200"/>
<link rel="apple-touch-icon"
      href="{{.PageUser.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200"/>
<link rel="icon" sizes="192x192"
      href="{{.PageUser.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200">
<div class="uk-card uk-card-default uk-text-center">
  <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
       data-src="{{ .PageUser.Background }}"
       uk-img>
    <div class="uk-card-body">
      <img class="uk-border-circle uk-box-shadow-large"
           src="{{ .PageUser.Avatar }}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200/format,png"
           width="100" height="100">
      <h3>{{ .PageUser.Name }}</h3>
      <p>{{ .PageUser.Intro }}</p>
    </div>
  </div>
</div>

<div>
  <div class="uk-card uk-card-default uk-card-small uk-card-body">
    <p class="uk-text-center uk-text-small">谁都可以以匿名的形式提问</p>
    <form method="post" id="form">
      {{ .CSRFTokenHTML }}
      {{template "base/alert" .}}
      <div class="uk-margin uk-text-center">
        <textarea name="content" class="uk-textarea" rows="5" placeholder="在此处撰写你的问题..."
                  maxlength="1000">{{.content}}</textarea>
      </div>
      <div class="uk-margin uk-text-center">
        <button type="submit" class="uk-button uk-button-primary g-recaptcha" data-sitekey="{{.RecaptchaSiteKey}}"
                data-callback="onSubmit">发送提问
        </button>
      </div>
    </form>

    <hr class="uk-divider-icon">
    {{ if ne (len .PageQuestions) 0 }}
    <p class="uk-text-left uk-text-muted uk-text-small">@{{ .PageUser.Name }} 以前回答过的问题</p>
    {{ template "question/history-template" . }}
    {{ end }}
  </div>
</div>
{{template "base/footer" .}}
