{{ if not .CanAsk }}
<div>
  <div uk-alert class="uk-text-center">
    <p>提问箱的主人设置了仅注册用户才能提问，你需要先登录 NekoBox 才能向他提问。</p>
  </div>
  <div class="uk-margin uk-text-center">
    <a class="uk-button uk-button-primary" href="/login?to={{.CurrentURI}}">前往登录</a>
  </div>
</div>
{{ else }}
<form method="post" action="/_/{{.PageUser.Domain}}" id="form">
  {{ .CSRFTokenHTML }}
  <div class="uk-margin uk-text-center">
        <textarea name="content" class="uk-textarea" rows="5" placeholder="在此处撰写你的问题..."
                  maxlength="1000">{{.content}}</textarea>
  </div>
  <div class="uk-margin uk-grid-small" x-data="{ receiveReplyViaEmail: '{{.receive_reply_via_email}}' === 'on' }">
    <label class="uk-text-small">
      <input name="receive_reply_via_email" class="uk-checkbox" type="checkbox"
             x-model="receiveReplyViaEmail"> 我想接收回复通知
    </label>
    <div x-show="receiveReplyViaEmail">
      <label>
        <label class="uk-form-label">接收回复通知的电子邮箱地址（当你的提问被提问箱主人回复时，你将收到一封邮件）</label>
        <input name="receive_reply_email" class="uk-input" type="text" placeholder="电子邮箱地址">
      </label>
    </div>
    <br>
  </div>
  <div class="uk-margin uk-text-center">
    <button type="submit" class="uk-button uk-button-primary g-recaptcha" data-sitekey="{{.RecaptchaSiteKey}}"
            data-callback="onSubmit">发送提问
    </button>
  </div>
</form>
{{ end }}
