<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/css/uikit.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.10.5/dist/cdn.min.js"/></script>
  <script src="{{.RecaptchaDomain}}/recaptcha/api.js" async defer></script>
  <script>
      function onSubmit() {document.getElementById('form').submit();}
      Alpine.store('questions', { items: [], insert(messages) {this.items.push(messages)}})
  </script>
  <style>
      .grecaptcha-badge {visibility: hidden;}
  </style>

  <meta itemprop="image" content="https://nekobox-public.oss-cn-hangzhou.aliyuncs.com/images/Neko.png"/>
  <meta name="msapplication-TileImage" content="https://nekobox-public.oss-cn-hangzhou.aliyuncs.com/images/Neko.png"/>
  <link rel="shortcut icon" href="https://nekobox-public.oss-cn-hangzhou.aliyuncs.com/images/Neko.png" />
  <link rel="apple-touch-icon" href="https://nekobox-public.oss-cn-hangzhou.aliyuncs.com/images/Neko.png"/>
  <link rel="icon" sizes="192x192" href="https://nekobox-public.oss-cn-hangzhou.aliyuncs.com/images/Neko.png">

</head>
<body>
<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-center">
    <div class="uk-navbar-center-left">
      <div>
        {{ if .IsLogged }}
        <ul class="uk-navbar-nav">
          <li><a href="/_/{{ .LoggedUser.Domain }}">{{ .LoggedUserName }}</a></li>
        </ul>
        {{ end }}
      </div>
    </div>
    <a class="uk-navbar-item uk-logo" href="/">NekoBox</a>
    <div class="uk-navbar-center-right">
      <div>
        {{ if .IsLogged }}
        <ul class="uk-navbar-nav">
          <li><a href="/user/questions">提问</a></li>
        </ul>
        <ul class="uk-navbar-nav">
          <li><a href="/user/profile">设置</a></li>
        </ul>
        {{ else}}
        <ul class="uk-navbar-nav">
          <li><a href="/register">注册</a></li>
        </ul>
        <ul class="uk-navbar-nav">
          <li><a href="/login">登录</a></li>
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
<div class="uk-container uk-container-xsmall">
