<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/uikit/3.3.3/css/uikit.min.css" crossorigin="anonymous"/>
  <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/uikit/3.3.3/js/uikit.min.js"></script>
  <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/uikit/3.3.3/js/uikit-icons.min.js"></script>
  <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/dayjs/1.10.8/dayjs.min.js"></script>
  <script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/qrcodejs/1.0.0/qrcode.min.js"
          type="application/javascript"></script>
  <script defer src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/alpinejs/3.9.0/cdn.min.js"/></script>
  {{ if .VConsole }}
  <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/vConsole/3.12.1/vconsole.min.js" type="application/javascript"></script>
  <script>new window.VConsole()</script>
  {{ end }}
  {{ if .RecaptchaTurnstileStyle }}
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?compat=recaptcha" async defer></script>
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          document.querySelectorAll('.g-recaptcha').forEach(item => {
              item.disabled = true;
          });
      });

      function onSubmit() {
          document.querySelectorAll('.g-recaptcha').forEach(item => {
              item.disabled = false;
          })
      }</script>
  {{ else }}
  <script src="{{.RecaptchaDomain}}/recaptcha/api.js" async defer></script>
  <script>function onSubmit() {document.getElementById('form').submit();}</script>
  {{ end }}
  {{ if ne SentryDSN "" }}
  <script
          src="https://browser.sentry-cdn.com/7.37.2/bundle.tracing.replay.min.js"
          integrity="sha384-o0mU2P+zsvXua0Y6f/J55PKWZt3sZCv3qDqJe6J5lZklyIQkpgjBVqNnPWYWqGhf"
          crossorigin="anonymous"
  ></script>
  <script>
      Sentry.init({
          dsn: "{{ SentryDSN }}",
          integrations: [new Sentry.BrowserTracing(), new Sentry.Replay()],
          tracesSampleRate: 1.0,
          replaysSessionSampleRate: 0.1,
          replaysOnErrorSampleRate: 1.0,
      });
  </script>
  {{ end }}
  <style>
      .grecaptcha-badge {visibility: hidden;}
  </style>

  {{ if .IsUserPage }}
  <meta property="og:image" content="{{ .PageUser.Avatar }}?og-image=1" />
  <meta property="og:image:alt" content="{{ .PageUser.Name }}" />
  <meta property="og:site_name" content="「提问箱」向我匿名提问吧~" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="「提问箱」向我匿名提问吧~" />
  <meta property="og:url" content="{{ .ExternalURL }}/_/{{ .PageUser.Domain }}" />
  <meta property="og:description" content="{{ .PageUser.Name }} 的提问箱，向我匿名提问吧~" />
  <meta itemprop="image" content="{{ .PageUser.Avatar }}?og-image=1"/>
  <meta name="msapplication-TileImage" content="{{ .PageUser.Avatar }}?og-image=1"/>
  <link rel="shortcut icon" href="{{ .PageUser.Avatar }}?og-image=1"/>
  <link rel="apple-touch-icon" href="{{ .PageUser.Avatar }}?og-image=1"/>
  <link rel="icon" sizes="192x192" href="{{ .PageUser.Avatar }}?og-image=1">
  <meta name="twitter:image:src" content="{{ .PageUser.Avatar }}?og-image=1" />
  {{ else }}
  <meta itemprop="image" content="https://box-user-assets.n3ko.cc/public/Neko.png"/>
  <meta name="msapplication-TileImage" content="https://box-user-assets.n3ko.cc/public/Neko.png"/>
  <link rel="shortcut icon" href="https://box-user-assets.n3ko.cc/public/Neko.png"/>
  <link rel="apple-touch-icon" href="https://box-user-assets.n3ko.cc/public/Neko.png"/>
  <link rel="icon" sizes="192x192" href="https://box-user-assets.n3ko.cc/public/Neko.png">
  <meta name="twitter:image:src" content="https://box-user-assets.n3ko.cc/public/Neko.png" />
  {{ end }}
</head>
<body>
<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-center">
    <div class="uk-navbar-center-left">
      <div>
        {{ if .IsLogged }}
        <ul class="uk-navbar-nav">
          <li><a href="/_/{{ .LoggedUser.Domain }}">{{ .LoggedUserName }}</a></li>
        </ul>
        {{ end }}
      </div>
    </div>
    <a class="uk-navbar-item uk-logo" href="/">NekoBox</a>
    <div class="uk-navbar-center-right">
      <div>
        {{ if .IsLogged }}
        <ul class="uk-navbar-nav">
          <li><a href="/user/questions">提问</a></li>
        </ul>
        <ul class="uk-navbar-nav">
          <li><a href="/user/profile">设置</a></li>
        </ul>
        {{ else}}
        <ul class="uk-navbar-nav">
          <li><a href="/register">注册</a></li>
        </ul>
        <ul class="uk-navbar-nav">
          <li><a href="/login">登录</a></li>
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
{{ if .IsPixel }}
<div>
{{ else }}
<div class="uk-container uk-container-xsmall">
{{ end }}
