{{template "base/header" .}}
<link rel="stylesheet" href="https://unpkg.com/@e99p1ant/neko-pixel-umd@0.0.21/style.css"/>
<div class="uk-alert-warning uk-container uk-text-small" uk-alert>
  <p>
    请各位用户知悉并确认在使用画板功能时，不会发起及/或参与以下内容：
    1. 涉及地域、种族、性别、宗教、政治等方面的歧视性内容；
    2. 侮辱、诽谤他人，侵害他人合法权益的内容；
    3. 含有淫秽色情、血腥暴力、赌博的内容；
    4. 其他在法律法规中禁止的或不适宜的内容。
    如果您实施了违反上述规范的行为，我们将视情况采取相关措施，并保留移交司法机关或者行政机关的权利。
  </p>
</div>

<div id="app"></div>
<script>
  var NEKO_CONFIG = {pixelBaseURL: '/api/v1/pixel'}
</script>
<script src="https://unpkg.com/@e99p1ant/neko-pixel-umd@0.0.21/neko-pixel-app.umd.js"></script>
{{template "base/footer" .}}
