{{template "base/header" .}}
<form method="post" id="form">
  <fieldset class="uk-fieldset">
    {{ .CSRFTokenHTML }}
    <legend class="uk-legend">忘记密码</legend>
    {{template "base/alert" .}}
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">电子邮箱</label>
      <input name="email" class="uk-input" type="text">
    </div>
    <div class="uk-margin">
      <button type="submit" class="uk-button uk-button-primary g-recaptcha" data-sitekey="{{.RecaptchaSiteKey}}"
              data-callback="onSubmit">找回密码
      </button>
    </div>
  </fieldset>
</form>
{{template "base/footer" .}}
