<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta name="format-detection" content="email=no"/>
  <meta name="format-detection" content="date=no"/>
  <style>.awl a {
      color: #FFFFFF;
      text-decoration: none;
  }

  .abml a {
      color: #000000;
      font-family: Roboto-Medium, Helvetica, Arial, sans-serif;
      font-weight: bold;
      text-decoration: none;
  }

  .adgl a {
      color: rgba(0, 0, 0, 0.87);
      text-decoration: none;
  }

  .afal a {
      color: #b0b0b0;
      text-decoration: none;
  }

  @media screen and (min-width: 600px) {
      .v2sp {
          padding: 6px 30px 0px;
      }

      .v2rsp {
          padding: 0px 10px;
      }
  }

  @media screen and (min-width: 600px) {
      .mdv2rw {
          padding: 40px 40px;
      }
  } </style>
  <link href="//fonts.loli.net/css?family=Google+Sans" rel="stylesheet" type="text/css"/>
</head>
<body style="margin: 0; padding: 0;" bgcolor="#FFFFFF">
<table width="100%" height="100%" style="min-width: 348px;" border="0" cellspacing="0" cellpadding="0" lang="zh-CN">
  <tbody>
  <tr height="32" style="height: 32px;">
    <td></td>
  </tr>
  <tr align="center">
    <td>
      </div>
      <table border="0" cellspacing="0" cellpadding="0"
             style="padding-bottom: 20px;max-width: 516px;min-width: 220px;">
        <tbody>
        <tr>
          <td width="8" style="width: 8px;"></td>
          <td>
            <div style="border-style: solid; border-width: thin; border-color:#dadce0; border-radius: 8px; padding: 40px 20px;"
                 align="center" class="mdv2rw">
              <div style="font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom: thin solid #dadce0; color: rgba(0,0,0,0.87); line-height: 32px; padding-bottom: 24px;text-align: center; word-break: break-word;">
                <div style="font-size: 24px;">
                  您在 NekoBox 的提问有了回复
                </div>
                <table align="center" style="margin-top:8px;">
                  <tbody>
                  <tr style="line-height: normal;">
                    <td>
                      <p style="font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;color: rgba(0,0,0,0.87); font-size: 14px; line-height: 20px; font-weight: bolder">
                        {{.question}}</p>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <table align="center" style="margin-top:8px;">
                  <tbody>
                  <tr style="line-height: normal;">
                    <td>
                      <p style="font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;color: rgba(0,0,0,0.87); font-size: 14px; line-height: 20px;">
                        {{.answer}}</p>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 14px; color: rgba(0,0,0,0.87); line-height: 20px;padding-top: 20px; text-align: center;">
                <div style="text-align: center;">
                  <a href="{{.link}}" target="_blank"
                     link-id="main-button-link"
                     style="font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif; line-height: 16px; color: #ffffff; font-weight: 400; text-decoration: none;font-size: 14px;display:inline-block;padding: 10px 24px;background-color: #4184F3; border-radius: 5px; min-width: 90px;">
                    查看提问
                  </a>
                </div>
                <br/>
              </div>
            </div>
            <div style="text-align: left;">
              <div style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif;color: rgba(0,0,0,0.54);font-size: 11px; line-height: 18px; padding-top: 12px; text-align: center;">
                <div>
                  我们向您发送这封邮件来告诉您在 NekoBox 的活动状态，若您未曾使用过 NekoBox，请忽略本邮件。
                </div>
                <div style="direction: ltr;">
                  {{ .year }} NekoBox
                </div>
              </div>
            </div>
          </td>
          <td width="8" style="width: 8px;"></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr height="32" style="height: 32px;">
    <td></td>
  </tr>
  </tbody>
</table>
</body>
</html>
