{{template "base/header" .}}

<script>
  function onSendCode(recaptcha){
    fetch('/api/v1/user/profile/send-sms', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': _csrf,
      },
      body: JSON.stringify({
        phone: document.getElementById('phone').value,
        recaptcha: recaptcha,
      }),
    }).then((res) => {
      res.json().then((data) => {
        if(res.status === 200){
          alert(data.data)
        } else {
          alert(data.message)
        }
      })
    }).catch(() => {
      alert('验证码发送失败，请稍后重试')
    })
  }
</script>

<form method="post" enctype="multipart/form-data" action="/user/profile/update">
  {{ .CSRFTokenHTML }}
  <legend class="uk-legend">个人信息</legend>
  {{template "base/alert" .}}
  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">电子邮箱</label>
    <input class="uk-input" type="text" disabled value="{{.LoggedUser.Email}}">
  </div>
  {{ if ne .LoggedUser.Phone "" }}
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">手机号</label>
      <input class="uk-input" type="text" disabled value="{{.LoggedUser.Phone | HidePhone}}">
    </div>
  {{ else }}
    <div class="uk-margin">
      <label class="uk-form-label">手机号、短信验证码 (可选，若不验证手机号，则<b>提问箱将不会公开展示所有已回答的问题列表</b>）</label>
      <div class="uk-margin" uk-margin>
        <div uk-form-custom="target: true">
          <input id="phone" name="phone" class="uk-input" type="text" value="" placeholder="手机号">
        </div>
        <div id="sms-code" uk-form-custom="target: true">
          <button type="button" class="uk-button uk-button-default g-recaptcha" data-sitekey="{{.RecaptchaSiteKey}}" data-callback="onSendCode">发送验证码</button>
        </div>
        <div uk-form-custom="target: true">
          <input name="verify_code" class="uk-input" type="text" placeholder="短信验证码">
        </div>
      </div>
    </div>
  {{ end }}
  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">昵称</label>
    <input name="name" class="uk-input" type="text" value="{{.LoggedUser.Name}}">
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">旧密码</label>
    <input name="old_password" class="uk-input" type="text" placeholder="修改密码使用，留空则不修改">
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">新密码</label>
    <input name="new_password" class="uk-input" type="text" placeholder="修改密码使用，留空则不修改">
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">提问箱介绍</label>
    <input name="intro" class="uk-input" type="text" value="{{.LoggedUser.Intro}}">
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">新提问通知</label>
    <label>
      <input name="notify_email" class="uk-checkbox" type="checkbox"
             {{ if eq .LoggedUser.Notify "email"}}checked{{end}}>
      <span class="uk-text-small"> 邮件</span>
    </label>
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">个人头像</label>
    <div uk-form-custom="target: true">
      <input type="file" name="avatar">
      <input class="uk-input uk-form-width-large" type="text" placeholder="上传个人头像" disabled>
    </div>
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">提问箱背景</label>
    <div uk-form-custom="target: true">
      <input type="file" name="background">
      <input class="uk-input uk-form-width-large" type="text" placeholder="上传提问箱背景" disabled>
    </div>
  </div>
  <div class="uk-margin">
    <button type="submit" class="uk-button uk-button-primary">修改信息</button>
    <a href="/user/logout" class="uk-button uk-button-danger">登出</a>
  </div>
</form>
<hr>
<div class="uk-margin">
  <form method="post" enctype="multipart/form-data" action="/user/harassment/update">
    {{ .CSRFTokenHTML }}
    <legend class="uk-legend">防骚扰设置</legend>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">提问限制</label>
      <br>
      <label>
        <input name="register_only" class="uk-checkbox" type="checkbox"
               {{ if eq .LoggedUser.HarassmentSetting "register_only"}}checked{{end}} >
        <span class="uk-text-small"> 仅允许注册用户向我提问</span>
      </label>
    </div>
    <div class="uk-margin">
      <button type="submit" class="uk-button uk-button-primary">更新防骚扰设置</button>
    </div>
  </form>
</div>
<hr>
<div class="uk-margin">
  <legend class="uk-legend">账号设置</legend>
  <dl class="uk-description-list uk-description-list-divider">
    <dt>
      <form action="/user/profile/export" method="post" target="_blank">
        {{ .CSRFTokenHTML }}
        <button class="uk-button uk-button-default">导出我的所有数据</button>
        <br><br>
        <span class="uk-text-muted">您可以导出您在 NekoBox 中的所有个人数据，包括你的基本信息、收到的问题以及回答。</span>
      </form>
    </dt>
    <dt>
      <a class="uk-button uk-button-danger" href="/user/profile/deactivate">停用我的账号</a><br><br>
      <span class="uk-text-muted">您随时可以选择停用您的账号。停用后，您的账号将无法登录，您的提问箱页面以及提问将无法访问，其他人也无法再给您发送新的提问。<b>该操作无法撤销！请谨慎操作！</b></span>
    </dt>
  </dl>
</div>

{{template "base/footer" .}}
